.fa-magnifying-glass{
    color: white;
    font-size: 15px;
}

.fa-play{
    color: $primary-color;
}

.fa-check, .fa-tag, .fa-earth-americas{
    font-size: 50px;
    color: $primary-color;
}

.fa-user, .fa-arrow-pointer, .fa-award{
    color: white;
    font-size: 20px;
    height: 30px;
    width: 30px;
}

.fa-arrow-up{
    color: $primary-color;
    font-size: 60px;
}

.fa-angle-left, .fa-angle-right{
    color: #7FC4EA;
    font-size: 18px;
}

.mag__fa-arrow-right{
    color: $primary-color;
}

.newsletter__fa-arrow-right{
    color: #BFBFBF;
    font-size: 18px;
}

.fa-envelope{
    color: #BFBFBF;
    font-size: 18px;
}