// Couleurs
$primary-color: #008AD6;
$light-color: #F6F6F6;
$paragraph-color: #808080;
$paragraph-color2: #575757;

// Espacements
$gap: 50px;

// Typographie
$extra-thin: 100;
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;