.bannerBackground{
    position: relative;
    background-color: $primary-color;
    width: 100%;
    height: 300px;
    //Récupérer hauteur de .bannerContainer en js
    padding: 5px;
}

.bannerContainer{
    //Permet l'overlap sur le background bleu
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    
    //positionnement
    // padding: calc($gap*2);
    justify-content: space-between;
    gap: $gap;
    width: calc(80%*0.8);

    //styles
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 50px;
}

.bannerElement {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.bannerContainer{
    padding: $gap;
}

@media screen and (max-width: 1024px){
    .bannerContainer{
        flex-direction: column !important;
    }
}

@media screen and (max-width: 767px){
    .bannerContainer{
        width: 90%;
        border-radius: $radius-mobile;
    }
}