.explanation__imageContainer{
    position: relative;
    width: 100%;
    display: inline-block;
    line-height: 0;
}

.explanation__image{
    width: 100%;
    height: auto;
}

.explanation__covoiturage{
    display: flex;
    align-items: center;
    
}

.explanation__trustContainer{
    //position
    position: absolute;
    top: 0;
    left: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    //size
    width: 40%;
    aspect-ratio: 1/1;
    
    //styles
    background-color: $primary-color;
    border-radius: 50%;
    color: white;
}

.explanation__trustNumber{
    font-size: 3vw;
    font-weight: $bold;
    margin: 25px;
}

.explanation__trustParagraph{
    font-size: clamp(10px, 16px, 1vw);
    font-weight: $light;

    //Texte ne s'écrase pas 
    line-height: 2;
    margin: 0;
}

.explanation__infoContainer{
    display: flex;
    align-items: center;
}

.explanation__iconContainer{
    position: relative;
}

.explanation__icon{
    position: absolute;
    left: 50%;   
    top: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 1024px){
    .explanation__image{
        width: 50%;
    }

    .explanation__imageContainer{
        display: flex;
        justify-content: center;
    }

    .explanation__trustContainer{
        left: 30%; 
        width: 20%;
    }

    .explanation__trustNumber{
        font-size: 60px;
    }

    .explanation__trustParagraph{
        font-size: 12px;
    }

    .explanation__infoContainer{
        width: 100%;
        align-items: center;
    }

    .explanation__elementContainer{
        width: 80%;
    }

    .explanation__icon{
        left: 50%;   
        top: 40%;
    }
}

@media screen and (max-width: 768px){
    .explanation__image{
        width: 100%;
    }

    .explanation__trustContainer{
        left: 10%;
        width: 40%;
    }

    .explanation__iconContainer{
        display: flex;
        width: 55px;
        height: 55px;
    }

    .explanation__icon{
        left: 50%;   
        top: 50%;
    }
}