.faq__questionContainer{
    color: white;
    background-color: $primary-color;
    font-size: 36px;
    font-weight: $bold;

    justify-content: space-between;
    padding: 25px 50px;
    border-radius: 25px;
    align-items: center;
}

.faq__button{
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 21px;
    font-weight: $bold;
    color: $primary-color;
}

@media screen and (max-width: 1024px){
    .faq__questionContainer{
        padding: 25px 25px;
        text-wrap: balance;
    }
}

@media screen and (max-width: 768px){
    .faq__questionContainer{
        padding: 10px 16px;
        text-align: start;
        border-radius: 16px;
    }

    .faq__button{
        width: $buttonIcon-mobile;
        height: $buttonIcon-mobile;
    }

    .faq__question{
        font-size: 21px;
    }
}