footer{
    background-color: $primary-color;
    padding: calc($gap*2);
}

.footerContainer{
    padding: 0px !important;
    justify-content: space-between;
    width: 100%;
}

.footerContainer>*{
    flex: 1;
}

.footer__newsletterContainer{
    flex: 3 !important;
}

.footer__titleNavigation{
    color: white;
    font-size: 21px;
    font-weight: $bold;
}

.footer__navigationContainer, .footer__supportContainer{
    color: white;
    gap: 10px;
}

.footer__navigationContainer>li>a, .footer__supportContainer>li>a{
    color: white;
}

.footer__newsletterParagraph{
    color: white;
}

//répété du newsletter, à globaliser
.footer__inputText{
    height: 55px;
    border-radius: 100px;
    padding: 0 25px;
    width: 100%;
    border: none;
    font-weight: $bold;

    &:focus{
        outline: none;
    }
}

.footer__inputText::placeholder{
    font-weight: $light;
}

.footer__buttonInputText{
    position: absolute;
    right: 0;
    height: 60px;
    width: 60px;
    background-color: white;
    border: solid 1px #BFBFBF;
    border-radius: 100px;
    right: 0;
    top: -2.5px;

    &:hover{
        cursor: pointer;
    }
}

@media screen and (max-width: 1440px){
    .footerContainer{
        gap: calc($gap*2);
        padding: 50px;
    }

    footer{
        padding: $gap;
    }
}

@media screen and (max-width: 1024px){
    footer{
        flex-direction: column !important;
    }

    .footer__logoContainer{
        flex: 1;
        width: fit-content;
        margin: 0 auto;
    }

    .footerContainer{
        flex: 3;
    }

    .footer__logo{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 767px){
    footer{
        padding: calc($gap/2);
    }

    .footerContainer{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer__navigationContainer{
        text-align: start;
    }

    .footer__supportContainer{
        text-align: end;
    }

    .footer__newsletterContainer{
        text-align: center;
        width: 100%;
    }

    .footer__inputText{
        height: $buttonHigh-mobile;
    }

    .footer__buttonInputText{
        height: $buttonIcon-mobile;
        width: $buttonIcon-mobile;
    }

    .footer__newsletterParagraph{
        font-size: 16px;
    }
}