.homeContainer{
    gap: 200px;
}

header{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header__logo{
    height: 21px;
    transition: all 0.25s ease;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}

.header__navigation{
    font-size: 21px;
    font-weight: $regular;
    gap: $gap;
}

.header__navigation>li>a{
    transition: color $transition-fast ease;
    &:hover{
        color: $primary-color;
    }
}

.home__elements{
    display: flex;
    gap: $gap;
    align-items: center;
}

.home__elements> *{
    flex: 1;
}

.home__info{
    gap: $gap;
}

.home__buttonPlay{
    height: 55px;
    width: 55px;
    text-align: center;
    border-radius: 100px;
    border: solid 1px $primary-color;
    background-color: white;

    transition: all $transition ease;

    &:hover{
        cursor: pointer;
        // border: none;
        // background-color: $primary-color;
        transform: scale(1.1);
        // .fa-play{
        //     color: white;
        // }
    }
}

.home__image{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1440px){
    .homeContainer{
        gap: 100px;
    }
}

@media screen and (max-width: 1024px){
    .homeContainer{
        text-align: center;
    }

    .home__elements{
        flex-direction: column;
    }

    .home__buttonInfoContainer{
        justify-content: center;
    }

    .home__image{
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 767px){
    .homeContainer{
        gap: calc($gap/2);
    }

    .home__info{
        gap: calc($gap/2);
    }

    .home__elements{
        gap: calc($gap/2);
    }

    .home__buttonPlay{
        display: none;
    }

    .home__image{
        width: 75%;
        height: auto;
    }
}