.magContainer{
    width: 100%;
}

.mag__header{
    justify-content: space-between;
}

.mag__buttonContainer{
    position: relative;
}

.mag__button{
    height: 55px;
    padding: 0 75px 0 25px;
    border-radius: 100px;
    background-color: $primary-color;
    color: white;
    font-size: 18px;
    font-weight: $light;
    width: fit-content;
}

.mag__buttonIcon{
    right: 0;
    height: 60px;
    width: 60px;
    background-color: white;
    border: solid 1px $primary-color;
    border-radius: 100px;
    position: absolute;
    top: -2.5px;
}

.mag__blogContainer>*{
    flex: 1;
}

.mag__blogElement{
    gap: calc($gap/4);
}

.mag__image{
    width: 100%;
    height: auto;
    border-radius: 33px;
}

.mag__tagContainer>li{
    background-color: $primary-color;
    color: white;
    font-size: 18px;
    font-weight: $regular;
    padding: 5px 25px;
    border-radius: 100px;
}

.mag__blogTitle{
    font-size: 21px;
    font-weight: $bold;
}

.mag__blogMore{
    font-size: 18px;
    font-weight: $light;
    text-decoration: underline;
}

@media screen and (max-width: 1024px){
    .mag__image{
        border-radius: 18px;
    }

    .mag__infoElement{
        justify-content: center;
    }

    .mag__tagContainer{
        gap: 10px !important;
    }

    .mag__buttonContainer{
        display: flex;
        justify-content: center;
    }

    .mag__button{
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .mag__blogElement>*{
        flex: 1;
    }

    .mag__buttonIcon{
        right: 10%;
    }
}

@media screen and (max-width: 768px){
    .mag__button{
        width: 100%;
        text-align: start;
        justify-content: start;
        padding-left: 25px;
        height: $buttonHigh-mobile;
    }

    .mag__buttonIcon{
        right: 0;
    }

    .mag__buttonIcon{
        height: $buttonIcon-mobile;
        width: $buttonIcon-mobile;
    }

    .mag__blogParagraph{
        display: none;
    }

    .mag__tagContainer>li{
        font-size: 16px;
    }

    .mag__blogMore{
        font-size: 16px;
    }
}