.newsletterContainer{
    background-color: $light-color;
    width: 100%;
    padding: 100px;
    justify-content: center;
    border-radius: $gap;
    position: relative;
    gap: calc($gap*4);
    margin-bottom: calc($gap*2);
}

.newsletter__infoContainer{
    flex: 3;
}

.newsletter__formContainer{
    flex: 2;
}

.newsletter__inputText{
    height: 55px;
    border-radius: 100px;
    border: solid 1px #BFBFBF;
    padding: 0 25px;
    width: 100%;
    font-weight: $bold;

    &:focus{
        outline: none;
    }
}

.newsletter__inputText::placeholder{
    font-weight: $light;
}

.newsletter__buttonInputText{
    position: absolute;
    right: 0;
    height: 60px;
    width: 60px;
    background-color: white;
    border: solid 1px #BFBFBF;
    border-radius: 100px;
    right: 0;
    top: -2.5px;

    &:hover{
        cursor: pointer;
    }
}

.newsletter__button{
    width: auto !important;
}

.newsletter__dessinContainer{
    position: absolute;
    bottom: -100px;
    right: 20%;
}

@media screen and (max-width: 1440px){
    .newsletterContainer{
        gap: calc($gap*2);
        padding: 50px;
    }
}

@media screen and (max-width: 1240px){
    .newsletter__dessinContainer{
        bottom: -100px;
        right: 0%;
    }
}

@media screen and (max-width: 1024px){
    .newsletterContainer{
        gap: $gap;
        padding: 50px 25px;
    }

    .newsletter__formContainer{
        width: 100%;

        //Padding 50px sauf pour le title 2 lignes
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media screen and (max-width: 768px){
    .newsletterContainer{
        gap: calc($gap/2);
        padding: 25px 25px;
        border-radius: $radius-mobile;
    }

    .newsletter__dessin{
        width: 100%;
    }

    .newsletter__formContainer{
        padding: 0;
    }

    .newsletter__inputText{
        height: $buttonHigh-mobile;
    }

    .newsletter__buttonInputText{
        height: $buttonIcon-mobile;
        width: $buttonIcon-mobile;
    }
}