.pointContainer{
    background-color: $primary-color;
    border-radius: 50px;
    width: 100%;
    padding: 50px 100px;
    justify-content: center;
}

.point__title{
    color: white;
}

.point__paragraph{
    color: #7FC4EA;
    font-size: 18px;
    font-weight: $light;
}

.point__buttonInputText{
    border: solid 1px white;
}

.point__infoContainer{
    flex: 2;
}

.point__image{
    width: 100%;
    height: auto;

    transition: all $transition ease;

    &:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
}

@media screen and (max-width: 1440px){
    .pointContainer{
        padding: 50px 50px;
    }
}

@media screen and (max-width: 1024px){
    .pointContainer{
        display: flex;
        flex-direction: column !important;
    }

    .point__image{
        width: 75%;
    }

    .point__paragraph{
        text-align: center;
    }
}

@media screen and (max-width: 767px){
    .pointContainer{
        padding: 25px 16px;
        border-radius: $radius-mobile;
    }

    .point__infoContainer{
        gap: calc($gap/2) !important;
    }

    .point__paragraph{
        font-size: 16px;
    }
}