.review__background{
    background-color: $primary-color;
    padding: $gap;
}

.review__title{
    color: white;
}

.review__count{
    color: #7FC4EA;
    font-size: 18px;
    font-weight: $light;
}

.review__cardContainer{
    max-width: 80%;

    transition: transform $transition ease;
}

.review__cardContainer>*{
    flex: 1;
}

.review__card{
    background-color: white;
    padding: calc($gap/2);
    border-radius: $radius-mobile;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    aspect-ratio: 16/9;

    transition: opacity $transition ease;

    &:hover{
        cursor: pointer;
    }
}

.review__starContainer{
    display: flex;
    gap: 3px;
}

//Animation slide
.slide-left {
    animation: slideLeft 0.5s ease;
}

.slide-right {
    animation: slideRight 0.5s ease;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.review__avatarInfo{
    align-items: start;
    gap: 5px;
    text-align: start;
}

.review__name{
    font-size: 21px;
    font-weight: $bold;
    color: $primary-color;
}

.review__avatarContainer{
    width: 75px;
    height: 75px;
}

.review__avatar{
    width: 100%;
    border-radius: 50%;
}

.review__comment{
    text-align: start;
    font-size: 18px;
}

@media screen and (max-width: 1440px){
    .review__cardContainer{
        max-width: none;
    }
}

@media screen and (max-width: 1024px){
    .review__cardContainer{
        max-width: 80%;
        flex-direction: column !important;
    }

    .review__card{
        aspect-ratio: auto;
    }
}

@media screen and (max-width: 767px){
    .review__cardContainer{
        max-width: none;
    }

        .review__background{
        padding: 16px;
    }
}