.review__background{
    background-color: $primary-color;
    padding: $gap;
}

.review__title{
    color: white;
}

.review__count{
    color: #7FC4EA;
    font-size: 18px;
    font-weight: $light;
}