.trustContainer{
    text-align: center;
}

.trust__number{
    font-size: 60px;
    color: $primary-color;
    font-weight: $bold;
}

.trust__titleNumber{
    font-size: 36px;
    color: $primary-color;
    font-weight: $bold;
}

.trustContainer >*{
    max-width: 400px;
}

.trust__paragraph{
    margin-top: 25px;
}

@media screen and (max-width: 1024px){
    .trustContainer >*{
        flex: 1;
        max-width: 80%;
    }

    .trustContainer{
        display: flex;
        flex-direction: column !important;
        gap: calc($gap*2) !important;
        margin: 0 !important;
        justify-content: center;
        align-items: center;
    }

    .trust__illustration{
        display: block;
        height: 100%;
        width: auto;
    }

    .trust__startPosition{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: start !important;
        text-align: start;
    }

    .trust__endPosition{
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end !important;
        text-align: end;
    }
}

@media screen and (max-width: 767px){
    .trust__number{
        font-size: 28px;
    }

    .trust__titleNumber{
        font-size: 21px;
    }

    .trust__illustration{
        width: 100%;
        height: auto;
    }

    .trustContainer >*{
        flex: 1;
        max-width: none;
    }
}