// Base
@import 'base/normalize';
@import 'base/variables';
@import 'base/typography';
@import 'base/icons.scss';

// Components
@import 'components/home';
@import 'components/footer';
@import 'components/banner';
@import 'components/explanation';
@import 'components/video';
@import 'components/trust';
@import 'components/point';
@import 'components/mobile';
@import 'components/review';
@import 'components/mag';
@import 'components/newsletter';
@import 'components/dessin';
@import 'components/faq';

// Pages
@import 'pages/connection';
@import 'pages/error';

html{
    overflow-x: clip;
    max-width: 100%;
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    font-family: "Nunito Sans";
    overflow-x: clip;
}

[id] {
    scroll-margin-top: $gap;
}

.sectionContainer{
    max-width: 1490px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

//Alignement
.horizontal{
    display: flex;
    flex-direction: row;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.inputContainer{
    position: relative;
}

//Element
.button{
    height: 55px;
    text-align: center;
    padding: 0 50px;
    border-radius: 100px;
    background-color: $primary-color;
    color: white;
    font-size: 21px;
    font-weight: $medium;
    width: fit-content;

    transition: all $transition-fast ease;

    &:hover{
        background-color: white;
        outline: solid 1px $primary-color;
        color: $primary-color;
        cursor: pointer;
    }
}
.inputText{
    height: 55px;
    border-radius: 100px;
    border: solid 1px $primary-color;
    padding: 0 25px;
    width: 100%;
    font-weight: $bold;

    &:focus{
        outline: none;
    }
}
.inputText::placeholder{
    font-weight: $light;
}
.button__inputText{
    right: 0;
    height: 60px;
    width: 60px;
    background-color: $primary-color;
    border-radius: 100px;
    position: absolute;
    right: 0;
    top: -2.5px;

    &:hover{
        background-color: white;
        outline: solid 1px $primary-color;
        color: $primary-color;
        cursor: pointer;

        transition: all $transition-fast ease;

        .fa-magnifying-glass{
            color: $primary-color;
        }
    }
}

//Image
.logoApplication{
    width: 65px;
    height: 65px;
}

//Text
.h1__title, .h2__title{
    font-size: 60px;
    font-weight: $extra-bold;
    text-wrap: balance;

    @media screen and (max-width: 1024px){
        text-align: center;
    }
}
.h3__title{
    font-size: 21px;
    color: $primary-color;
    font-weight: $bold;
}
.h4__title{
    font-size: 36px;
    font-weight: $bold;
}
.paragraph{
    font-size: 18px;
    color: $paragraph-color;
    font-weight: $light;
}
strong{
    color: $primary-color;
}

//Gap
.bigGap{
    gap: calc($gap*2);
}
.gap{
    gap: $gap;
}
.smallGap{
    gap: calc($gap/2);
}
.paragraphGap{
    gap: 5px;
}

//Animation
.reveal{
    opacity: 0;
    transition: opacity 0.7s cubic-bezier(.215,.61,.355,1),
    transform 0.7s cubic-bezier(.215,.61,.355,1);
    transition-delay: calc(var(--delay) * 0.1s);
}

.revealX{
    transform: translateX(40px);
}

.reveal-X{
    transform: translateX(-40px);
}

.revealY{
    transform: translateY(40px);
}

.reveal.active{
    opacity: 1;
    transform: translateY(0) translateX(0);
}

@media screen and (max-width: 767px){
    .sectionContainer{
        padding-left: 16px;
        padding-right: 16px;
    }

    .h1__title, .h2__title{
        font-size: 26px;
    }

    .h3__title{
        font-size: 18px;
    }

    .h4__title{
        font-size: 28px;
    }

    .paragraph{
        font-size: 16px;
    }

    .button{
        height: 48px;
        font-size: 18px;
    }

    .inputText{
        height: 48px;
    }
    .button__inputText{
        height: 53px;
        width: 53px;
    }
}

